table.logs
  thead 
    th.time
      width 12%
    th.trigger
      max-width 10%
      width 10%
    th.job
      width 10%
  td.text
    word-wrap break-word

    &.console, &.code
      pre
        background-color pal1
        color #fff

      .error
        flash(type: error)


table.jobs
  td.status
    span
      display inline-block

      