#playbooks
  vertical-align top

  .sidebar
    float left
    width 15%
    overflow hidden
    border-collapse collapse
    border-right 1px dotted #666
    padding-right 2%
    margin-right 2%
    padding-top 1em

    ul
      margin 0
      padding 0

      li
        font-size 120%
        margin-bottom 1em

        & > a
          reset-link()
          width 100%
          border-radius(5px)
          color #666
          padding 0.2em

        &.active > a
          background-color #ccc
          color #000

            


  .content
    float left

    h1, h2:first-child
      margin-top 0



#playbook
  a.addTrigger 
    margin-top 1em