/* General settings */

pal1 = #323a46
pal2 = #22282f
pal3 = #eb4a33
pal4 = #ffffff
pal5 = #e9f0f5

body-bg-color = pal4
body-fg-color = pal2

header-height = 50px
header-bg-color = pal2
header-fg-color = #fff

nav-btn-height = header-height / 2
nav-btn-padding = nav-btn-height / 2

text-hover-highlight-color = pal5

btn()
  button(pal3, medium, #fff, pal3, pal3)


/* Axis settings */

support-for-ie = false
