/* General settings */

pal1 = #e54e45
pal2 = #dbc390
pal3 = #f2f2ef
pal4 = #13a3a5
pal5 = #403833

body-bg-color = pal3
body-fg-color = #000

header-height = 50px
header-bg-color = pal4
header-fg-color = #fff

nav-btn-height = header-height / 2
nav-btn-padding = nav-btn-height / 2

text-hover-highlight-color = pal2


/* Axis settings */

support-for-ie = false
