@import "./_settings"
@import "./_axis"



// reset styles

global-reset()
normalize()

// body

base(helvetica, 14, body-fg-color)

body
  background-color body-bg-color

// header

header
  clearfix()
  background-color header-bg-color
  color header-fg-color
  size(100%, header-height)

  a.brand
    reset-link()
    bold()
    display block
    float left
    font-size 200%
    text-align center
    padding 0.2em

  nav
    display block
    text-align right
    height 100%

    ul
      display block
      float right
      inline-list(0px)
      height header-height

      li
        inline-block()
        font-family verdana
        height 100%

        a
          inline-block()
          reset-link()
          border-left 1px dotted lighten(header-bg-color, 10)
          border-right 1px dotted lighten(header-bg-color, 10)
          height nav-btn-height
          padding nav-btn-padding 1em
          font-size 120%
          background-color header-bg-color
          hover-lighten(15%)

          &:hover
            border-left 1px dotted lighten(header-bg-color, 10)
            border-right 1px dotted lighten(header-bg-color, 10)
      
        &.active a
          background-color lighten(header-bg-color, 15%)

// main

main
  padding 1em


footer
  position fixed
  bottom 0px
  width 100%
  text-align left
  padding 0.3em 0 0.3em 0.4em
  fs(80%)
  background-color header-bg-color
  color header-fg-color
  span
    margin-right 1em


// general styles

forms()
code-blocks()

a
  link(color: pal3)

pre
  margin 0

em
  italic()

h1, h2
  .subtitle
    margin-left 0.6em
    font-size 60%

h1
  margin-bottom 1em

h2
  margin-top 2em

form
  .error 
    border 1px solid pal3
    background-color lighten(pal3, 80%)
    color pal3
    border-radius(5px)
    padding 10px
  .field
    margin 2em 0
    .error
      margin-top 0.1em
  label
    bold()
    &:after
      content ': '
      bold()
  .help
    notice()
    font-size 80%
    margin 0.3em
    italic()
  input[type=text]
    input(pal2)
  input[type=submit]
    btn()

a.btn
  btn()

table
  table(false, true, false)

.urlTemplate
  font-family monospace

  .params
    .param
      cursor help
      margin 0 0.4em
      background-color body-bg-color
      hover-color(text-hover-highlight-color)

      .value
        bold()

    span.qryStringSpacer:last-child
      display: none;


.info
  div
    margin 1em 0
    & > span.label
      bold()

      &:after
        content: ':'
        margin-right 1em


div.expandable
  position relative
  cursor pointer

  .expanded
    display none

  & > div
    padding 0.2em

    &.collapsed
      border 1px solid #ccc
      border-radius(2px)

    &.expanded
      display none
      border-radius none

  span.indicator
    display inline-block
    position absolute
    top 0px
    right 0px
    border 1px solid pal2
    background-color pal2
    color pal5
    padding 0.2em



@import "./_dashboard"
@import "./_playbooks"
@import "./_triggers"
@import "./_playbooks"
@import "./_logs"
