include ./_mixins

block vars
  - var pageTitle = 'Dashboard'
  - var selectedNav = 'dashboard'

extends layout

block content

  #dashboard

    .jobs
      h1 Active Jobs
      +renderJobTable(jobs, true)
