doctype html
html
  head
    title #{title}
  body
    h1 #{title}
    :markdown
      Welcome to your [Waigo](http://waigojs.com) application. The template 
      for this page is located at `views/index.jade` within your application 
      source folder.
