include ./_mixins

- var pageTitle = 'Dashboard'

extends layout


block content

  #dashboard

    .triggers
      h1 Active triggers
      table
        thead
          th Description
          th Playbook
          th Type
        - each trigger in triggers
          tr
            td #{trigger.description}
            td 
              if trigger.playbook
                a(href=trigger.playbook.settingsUrl) #{trigger.playbook.name}
            td #{trigger.type}
            td 
              a(href="/triggers/" + trigger._id) more &raquo;

    .logs
      h2
        span Recent logs
        a.subtitle(href="/logs") View all

      +renderLogTable(logs)
