doctype html
html
  head
    title Ansibot - #{pageTitle}
    link(rel="stylesheet", media="all", href="/css/style.css")
  body
    header
      a.brand(href="/", title="Dashboard homepage") Ansibot      
      nav
        ul
          li
            a(href="/playbooks", title="View playbooks") Playbooks
            a(href="/triggers", title="View active triggers") Triggers
            a(href="/logs", title="View logs") Logs

    main
      block content
