doctype html
html
  head
    title #{pageTitle}
    link(rel="stylesheet", media="all", href="/css/style.css")
  body
    header
      a.brand(href="/", title="Dashboard homepage") Ansibot      
      nav
        ul
          li
            a(href="/playbooks", title="View playbooks") Playbooks
          li
            a(href="/triggers", title="View triggers") Triggers
          li
            a(href="/logs", title="View logs") Logs

    main
      block content


    script(type="text/javascript", src="/js/all.js")
