doctype html
html
  block vars
  head
    title #{pageTitle}
    link(rel="stylesheet", media="all", href="/css/style.css")
  body
    header
      a.brand(href="/", title="Dashboard homepage") Ansijet      
      nav
        ul
          li(class=('playbooks' === selectedNav ? 'active': ''))
            a(href="/playbooks", title="View playbooks") Playbooks

          li(class=('triggers' === selectedNav ? 'active': ''))
            a(href="/triggers", title="View triggers") Triggers

          li(class=('logs' === selectedNav ? 'active': ''))
            a(href="/logs", title="View logs") Logs

    main
      block content

    footer
      span Powered by <a href="https://github.com/hiddentao/ansijet">Ansijet</a>

    script(type="text/javascript", src="/js/app.js")
