block vars
  - var pageTitle = 'Add trigger - Step 2'
  - var selectedNav = 'playbooks'

include ../_mixins

extends ../layout

block content
  h2 Set parameters for trigger

  if 1 > form.fields.length
    em No parameters to set. Press Submit to continue.
    
  +form(form, 'Submit')
