block vars
  - var pageTitle = 'Add trigger'
  - var selectedNav = 'playbooks'

include ../_mixins

extends layout

block subContent1
  h2 Add trigger for #{playbook.name}

  +form(form, 'Next step')
