include ../_mixins

block vars
  - var pageTitle = 'Playbooks'
  - var selectedNav = 'playbooks'

extends ../layout

block content

  #playbooks

    h1 Playbooks

    p Playbooks are loaded from <strong>#{playbook_path}</strong>

    if 0 < playbooks.length
      table.playbooks
        thead
          th Name
        - each playbook in playbooks
          tr
            td
              a(href=playbook.viewUrl) #{playbook.name}
    else
      em No playbooks found
