extends ../layout

block content

  #playbooks

    .sidebar
      ul
        - each playbook in playbooks
          - var liClass = (selectedPlaybookId == playbook.name) ? 'active': ''
          li(class=liClass)
            a(href=playbook.viewUrl) #{playbook.name}

    .content
      block subContent1

      